-
    let menu = [
        {name: "main", url: "#main"},
        {name: "about us", url: "#about"},
        {name: "clients", url: "#clients"},
        {name: "our services", url: "#services"},
        {name: "candidates", isLink:'true', url: "candidates.html"}
    ]
-
    let menuCandidats = [
        {name: "main", isLink:'true', url: "index.html"},
        {name: "about us", isLink:'true', url: "index.html#about"},
        {name: "clients", isLink:'true', url: "index.html#clients"},
        {name: "our services", isLink:'true', url: "index.html#services"},
        {name: "candidates", url: "candidates.html"}
    ]
-
mixin menu (items, myClass)
    for item in items 
        li 
            a(data-filter=item.filter data-link=item.isLink href=item.url class=myClass) #{item.name}

